@charset "UTF-8";

/*-------------------공지사항 영역에 관련된 css 그룹들---------------------*/

/*///////////////////////////////////////////////////////
/////////////////////////공지사항 목록페이지////////////////////
/////////////////////////////////////////////////////////
*/

/*1. 공지사항 전체영역*/
.Notice-Box {
	width: 70%;
	margin: auto;
	margin-top: 30px;
	padding-bottom: 20px;
}

/*2. 공지사항 머리말*/
.type1 h1 {
	font-family: "Poppins", sans-serif;
	color: #5389d0;
	line-height: 1.3;
	font-weight: bold;
}

.type1-1 h2 {
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 0px;
	float: left;
}

.type1-1 span {
	color: red;
	padding-left: 7px;
	padding-right: 7px;
}

.type1-2 {
	float: left;
	margin-left: 5px;
	border-left: solid 2px #80808042;
}

.type1-2 img {
	width: 17px;
	height: 17px;
	float: left;
	margin-left: 7px;
	/* line-height: 25px; */
}

/*3. 공지사항 머리말 하단*/
.type2 {
	padding-bottom: 25px;
}

/*3-1. 공지사항 전체 조회수*/
.type2 span {
	font-weight: bold;
	float: left;
}

/*3-2 공지사항 글쓰기 버튼 관련*/

/*글쓰기버튼 + 검색창의 h2 속성*/
.type2 h2 {
	font-size: 17px;
	color: white;
}


/*3-3 공지사항 검색창 관련 css*/
.type2 {
	width: 100%;
}

.search-box {
	width: 50%;
	height: 35px;
	border: 2px solid #84b1ed;
	float: right;
}

.search-box input {
	font-size: 16px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
	width: 85%;
	height: 100%;
}

.search-box button {
	height: 100%;
	width: 15%;
	border: 0px;
	background-color: #84B1ED;
	color: white;
	float: right;
}

/* 3-4 공지사항 검색옵션 관련 css */
.type2 select {
	width: 10%;
	float: right;
	height: 35px;
	border: solid 2px #84b1ed;
	margin-right: 10px;
}

/*4. 공지사항 테이블*/
table.type3 {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-bottom: 1px solid #84b1ed; 
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

/*4-1. 공지사항 테이블  thead*/

table.type3 thead{
	    border-top: solid 3px #6a94cc;	
	        text-align: center;
}
table.type3 thead th {
	    padding: 3px;
    font-weight: bold;
    color: black;
    margin: 20px 10px;
    font-size: 15px;
}

/*-----------------------------------------thead-글번호*/
table.type3 thead th:first-child{
	width:7%;
}
/*---------------------------------------------------*/

/*-----------------------------------------thead-등록일*/
table.type3 thead th:nth-child(3){
	width:20%;
}
/*---------------------------------------------------*/

/*-----------------------------------------thead-조회수*/
table.type3 thead th:last-child{
	width:10%;
}


/*4-2 공지사항 테이블 tbody*/
table.type3 tbody{
	border-bottom: solid 3px #84B1ED;
}

table.type3 tbody tr {
    margin: 500px;
    font-size: 15px;
    border-top: solid 1px #84B1ED;
}


table.type3 tbody th {
	text-align: center;
}

table.type3 tbody td{
	text-align: center;
}

table.type3 tbody td:nth-child(2){
	text-align: left;
}



/*5. 페이징 번호 관련 */
.paging {
	width: 70%;
	margin: auto;
	padding-top: 30px;
	margin-bottom: 40px;
}

.paging ul {
	text-align: center;
}

.paging ul li {
	display: inline;
	vertical-align: middle;
}

.paging ul li a {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	padding: 4px;
	margin-right: 3px;
	width: 25px !important;
	color: #000;
	font: 12px tahoma;
	border: 1px solid #b7d5f5;
	text-align: center;
	text-decoration: none;
}

.paging ul li a.now {
	color: #fff;
	background-color: #60C5BA;
	border: 1px solid #60C5BA;
}

.paging ul li a:hover, ul li a:focus {
	color: #fff;
	border: 1px solid #60C5BA;
	background-color: #60C5BA;
}

/*///////////////////////////////////////////////////////
/////////////////////////공지사항 상세페이지////////////////////
/////////////////////////////////////////////////////////
*/

/*1. 공지사항 상세페이지 전체 영역*/
.notice-detail-container {
	width: 70%;
	margin: auto;
	background-color: #ffffffa3;
	padding-top: 20px;
}

/*2. 공지사항 머리말 */
.notice-detail-type1 {
	width: 70%;
	margin: auto;
	border-bottom: solid 3px #84B1ED;
	margin-top: 50px;
}

.notice-detail-type1 h1 {
	font-family: "Poppins", sans-serif;
	color: #4076bf;
	line-height: 1.3;
	font-weight: 500;
	font-weight: bold;
	margin-bottom: 0px;
}

/* 3.공지사항 머리말 하단부분  */
.notice-detail-type1-1 {
	width: 70%;
	border-bottom: solid 1px #4076bf78;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
}

#notice-detail-title {
	width: 70%;
	overflow: hidden;
	vertical-align: middle;
	float: left;
	text-align: left;
	border-left: 0px;
	font-size: 22px;
}

.notice-detail-type1-1 h5 {
	font-size: 15px;
	float: right;
	margin-bottom: 0px;
	padding-right: 10px;
}

.notice-detail-type1-1 span h3 {
	float: right;
	font-size: 15px;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	border-left: solid 2px #8080805c;
	text-align: center;
}

.notice-detail-type1-2 {
	display: none;
}

/*4. 공지사항 글 상세내용*/
.notice-detail-type2-2 {
	width: 70%;
	margin: auto;
	margin-top: 20px;
	padding-bottom: 50px;
}

.notice-detail-type2-2 p:first-child {
	font-weight: bold;
	font-size: 20px;
	line-height: inherit;
}

.notice-detail-type2-2 p:last-child {
	
}

/*5. 이전, 다음, 목록 버튼*/
.notice-buttons {
	margin-top: 20px;
	text-align: center;
	padding-bottom: 100px;
}

.notice-buttons input {
	padding-left: 15px;
	padding-right: 15px;
	color: #4076bf;
	height: 25px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	background-color: #008b8b00;
	border: 0px;
}

.notice-buttons input:nth-child(2) {
	border-left: solid 2px #4076bf8f;
	border-right: solid 2px #4076bf8f;
}

/*///////////////////////////////////////////////////////
/////////////////////////공지사항 글쓰기 페이지////////////////////
/////////////////////////////////////////////////////////
*/

/*1. 공지사항 글 등록 전체영역*/
.notice-write-container {
	width: 70%;
	margin: auto;
	background-color: #ffffffa3;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
}
/*2.공지사항 글 등록 페이지 머리말*/
.notice-write-type1 {
	width: 80%;
    margin: auto;
    margin-top: 50px;
    border-bottom: solid 3px #84B1ED;
    text-align: left;
}

.notice-write-type1 h1 {
	font-family: "Poppins", sans-serif;
    color: #4076bf;
    line-height: 1.3;
    font-weight: 500;
    font-weight: bold;
    margin-bottom: 0px;
}

/*3.공지사항 글 등록 폼*/
.notice-write-type2 {
    width: 80%;
    margin: auto;
}

form.write_form {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #80808017;
    margin-top: 10px;
}

#notice-write-title {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px gray;
    border-radius:5px;
}

textarea#notice-write-content1 {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* 모바일 글쓰기폼(네이버 폰트에디터가 포함되지 않은 글쓰기 폼) */
.notice-write-content-box2{
	display: none;
}

/*첨부파일*/
.notice-write-attachFile{
	overflow: hidden;
	margin-top: 20px;
}

.notice-write-attachFile h2 {
    font-size: 17px;
    font-weight: bold;
    float: right;
    margin-bottom: 0px;
    padding-top: 3px;
    margin-right: 20px;
    color: #5d5959;
}


.notice-write-attachFile button{	
    height: 30px;
    width: 70px;
    float:right;
}

.notice-write-attachFile input{
	width: 50%;
    height: 30px;
    border: solid 1px gray;
    float:right;
    margin-right: 10px;
}
/*4. 공지사항 글등록 버튼*/
.notice-write-type2-btn {
	overflow: hidden;
	margin-top: 50px;
	padding-bottom: 40px;
	text-align: center;
	border: 0px;
}

.notice-write-type2-btn input {
	padding: 10px 15px;
	border: 2px solid #4076bf;
	background: #fff;
	color: #4076bf;
	width: 160px;
	height: 50px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}




footer {
	clear: both;
}