@charset "UTF-8";

.R {
	text-align: right;
}

.L {
	text-align: left;
}

.C {
	text-align: center;
}

.hidden {
	visibility: hidden;
}

.none {
	display: none;
}

.Clear {
	clear: both;
}

i.icon {
	vertical-align: middle;
}

.div_pdt {
	padding-top: 82px;
}

.container {
	margin: 0 auto;
	width: 100%;
	position: relative;
}

.clr::after {
	content: "";
	display: block;
	clear: both;
}

@font-face {
	font-family: 'Pacifico';
	font-style: nrmal;
	font-weight: 500;
	src: url('fonts/Pacifico-Regular.ttf');
}

a#site_logo_title {
	font-family: 'Pacifico';
	font-size: 30px;
	line-height: 30px;
	height: 30px;
	margin-top: -10px;
}

em {
	font-style: normal;
}

.header-area {
	border-bottom:1px solid #eee; 
}

body{
	background-color: #fff;
}
#logout{
	cursor: pointer;
}

.preloader.ajax {
	background-color: #ed3974;
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 99999;
    opacity: 0.9;
}