@charset "UTF-8";

#write_page_header {
   width: 100%;
   min-height: 778px;
   background-color: #f5f5f5;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   /* background-image: url('../../img/bg-img/osaka.jpg'); */
}

#write_page_header div.lnb {
   width: 1220px;
   max-width: 1220px;
}

/* header content */
#header_content {
   /* height: calc(100% - 169px); */
   height: 600px;
}

.content_top_in {
   position: relative;
   width: 1210px;
   margin: 0 auto;
   height: 100%;
}

.content_top_in::after {
   content: "";
   display: block;
   clear: both;
}

.date_box span {
   font-size: 24px;
   color: white;
}

.date_box {
   color: white;
}

.tag_box {
   color: white;
}

.tag_box li {
   font-size: 18px;
   line-height: 34px;
   display: inline-block;
   min-height: 34px;
   margin: 30px 5px 0px 5px;
   padding: 0 10px 0 10px;
   background-color: #f5f5f5;
   border-radius: 50px;
   color: #60605f;
   word-break: break-all;
}

.content_wrap {
   width: 100%;
   height: 100%;
}

#input_diary_title {
   background-color: transparent;
   border: 0;
   text-align: center;
   font-size: 60px;
   color: white;
   padding-top: 350px;
}

#input_diary_title::placeholder {
   color: #c5c5c5;
}

/* header content */
/* write wap */
#write_wrap {
   width: 100%;
   min-height: 700px;
   background-color: white;
}

.content_datebox {
   position: absolute;
   width: 154px;
   height: 65px;
   left: -66px;
   cursor: pointer;
}

.content_box {
   width: 620px;
   margin: 0 auto;
}

.content_editbox {
   position: relative;
   width: auto;
   margin: 0 auto;
   margin-left: -5px;
   /* padding-bottom: 63px; */
}

.content_editbox p {
   margin: 0;
   font-size: 20px;
}

.content_editbox p:last-child {
   margin-bottom: 20px;
}
/* write wap */
/* img wrap */
.img_wrap {
   width: 100%;
   position: relative;
   text-align: left;
   min-height: 130px;
}

.img_content {
   display: inline-block;
   overflow: hidden;
   position: relative;
   /* width: calc(100% - 11px); */
   height: auto;
   float: left;
   margin: 10px 0 0 10px;
   height: 380px;
   height: auto
}

.img_content img {
   height: 150px;
   width: auto;
   max-width: none;
}

.ic-1 .img_content:first-child {
   
}

.ic-2 .img_content:first-child {
   width: 400px;
   height: 300px;
}

.ic-2 .img_content:last-child {
   width: 200px;
   height: 300px;
}

.ic-3 .img_content:first-child {
   width: 400px;
   height: 310px;
}

.ic-3 .img_content:nth-child(2), .ic-3 .img_content:nth-child(3) {
   width: 200px;
   height: 150px;
}

.ic-4 .img_content {
   width: 300px;
   height: 225px;
}

.ic-5 .img_content:nth-child(1), .ic-5 .img_content:nth-child(2), .ic-5 .img_content:nth-child(3)
   {
   width: 198px;
   height: 150px;
}

.ic-5 .img_content:nth-child(4), .ic-5 .img_content:nth-child(5) {
   width: 302px;
   height: 225px;
}

/* img wrap */
/* comment wrap */
.comment_container {
   width: 900px;
   border-top: 1px solid #bbb;
   margin: 0 auto;
}

.titleBox {
   background-color: #fdfdfd;
   padding: 10px;
}

div.form-group {
   margin-top: 20px;
}

.commentBox {
   padding: 10px;
   border-top: 1px dotted #bbb;
}

.commentBox .form-group:first-child, .actionBox .form-group:first-child
   {
   width: 80%;
}

.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2)
   {
   width: 18%;
}

.actionBox .form-group * {
   height: 48px;
   width: 10%;
}
#replyContent {
   width: 783px;
   margin-right: 7px;
   float: left; 
}

.taskDescription {
   margin-top: 10px 0;
}

.commentList {
   padding: 0;
   list-style: none;
   max-height: 200px;
   overflow: auto;
}

.commentList li {
   margin: 0;
   margin-top: 15px;
}

.commentList li>div {
   display: table-cell;
}

.commenterImage {
   width: 45px;
   margin-right: 10px;
   height: 100%;
   float: left;
}

.commenterImage img {
   width: 100%;
   border-radius: 50%;
}

.commentText p {
   margin: 0;
}

.sub-text {
   /* color:black;
    font-size:11px; */
   
}

.actionBox {
   padding: 10px;
}



/* like , scrap */

#likeBtn {
      width:40px; 
      height: 40px; 
      border: none;
      cursor: pointer;
       background: url(../../img/heart-off.png);
       background-size: 40px;
}

#scrapBtn {
      width:40px; 
      height: 40px; 
      border: none;
      cursor: pointer;
       background: url(../../img/scrap_icon.png);
       background-size: 40px;
}

/* comment wrap */
@media only screen and (min-width: 767px) {
   #write_page_header::before {
      content: "";
      display: block;
      position: absolute;
      top: 70px;
      left: 0;
      background-color: rgba(0, 0, 0, .3);
      width: 100%;
      height: 778px;
   }
   .content_datebox::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: -13px;
      width: 1px;
      height: 100%;
      background-color: #000;
   }
}