@charset "UTF-8";

#write_page_header {
	width: 100%;
	min-height: 778px;
	background-color: #f5f5f5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#write_page_header::before {
	content: "";
	display: block;
	position: absolute;
	top: 70px;
	left: 0;
	background-color: rgba(0, 0, 0, .3);
	width: 100%;
	height: 778px;
}

#write_page_header div.lnb {
	width: 1220px;
	max-width: 1220px;
}

/* header lnb */
.lnb {
	position: relative;
	height: 40px;
	margin: 0 auto;
	padding-top: 40px;
	width: 1220px;
	box-sizing: content-box;
	z-index: 101;
}

.button_box {
	float: right;
}

.button_box button {
	outline:none;
	background-color: transparent;
	height: 40px;
	border: 1px solid #fff;
	border-radius: 24px;
	color: #fff;
	font-size: 17px;
	font-weight: 400;
	line-height: 36px;
	width: 117px;
}
/* header lnb */

/* header content */
#header_content {
	/* height: calc(100% - 169px); */
	height: 600px;
}

.content_top_in {
	position: relative;
	width: 1210px;
	margin: 0 auto;
	height: 100%;
}

.content_top_in::after {
	content: "";
	display: block;
	clear: both;
}

.content_left {
	display: table;
	float: left;
	width: 100px;
	height: 100%;
}

.control_box {
	display: table-cell;
	vertical-align: middle;
}

.control_box li {
	margin-top: 50px;
	height: 100px;
	color: white;
}

.control_box li p {
	color: white;
}
.date_box {
	color: white;
}
.date_box span {
	font-size: 24px;
	color: white;
}

.content_right {
	width: calc(100% - 198px);
	height: 100%;
}

.textarea_box {
	
}

#input_diary_title {
	background-color: transparent;
	border: 0;
	text-align: center;
	font-size: 60px;
	color: white;
	outline: none;
	margin-top: 200px;
}

#input_diary_title::placeholder {
	color: #c5c5c5;
}

/* header content */
/* write wap */
#write_wrap {
	width: 100%;
	min-height: 700px;
	background-color: white;
}

.content_datebox {
	position: absolute;
	width: 154px;
	height: 65px;
	left: -66px;
	cursor: pointer;
}

.content_datebox::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: -13px;
	width: 1px;
	height: 100%;
	background-color: #000;
}

.content_box {
	width: 833px;
	margin: 0 auto;
}

.content_editbox {
	position: relative;
	width: 950px;
	margin: 0 auto;
	/* padding-bottom: 63px; */
	margin: 0 30px;
}

.content_editbox textarea {
	min-height: 50px;
	width: 100%;
	padding: 0;
	border: 0;
	text-align: left;
	font-size: 18px;
	color: #6a6a6a;
	resize: none;
	outline: none;
	overflow-x: hidden;
	overflow-y: hidden;
	border-radius: 3px;
	outline: none;
	width: 100%;
}

.tool_wrap {
	cursor: pointer;
	position: absolute;
	left: -50px;
	top: 17.5px;
	position: absolute;
	z-index:10;
}

.tool_box {
	display: none;
	position: absolute;
	top: 9.5px;
	z-index: 10;
}

.tool_box ul li {
	float: left;
	padding-right: 15px;
}

.tool_box ul::after {
	content: "";
	display: block;
	clear: both;
}
/* write wap */
/* img wrap */
.img_wrap {
	width: 100%;
	position: relative;
	text-align: left;
	min-height: 130px;
}

.img_content {
	display: inline-block;
	width: 20%;
	position: relative;
}
/* img wrap */
/* tag wrap */
.tag_wrap {
	margin-top:40px;
	border-top:1px solid black;
	padding-bottom: 30px;
	height: 150px;
	display: inline-block;
}

.tag_wrap h4 {
	line-height: 90px;
	margin: 0;
	float: left;
}

.tag_input_wrap {
	display: inline-block;
	width: 900px;
	height: 90px;
	padding: 10px;
	line-height: 70px;
}

.tag_wrap input[type=text] {
	width: 550px;
	height: 100%;
	background-color: transparent;
	border: 0;
	text-align: left;
	font-size: 25px;
	outline: none;
	vertical-align: middle;
}

.tag_list {
	position: relative;
}

.tag_list li {
	float: left;
	min-width: 80px;
	margin-right: 16px;
}
.tag_info {
	font-size:18px;
	line-height:34px;
	display: inline-block;
    min-height: 34px;
    margin: 20px 0 0;
    padding: 0 10px 0 10px;
    background-color: #f5f5f5;
    border-radius: 50px;
    color: #60605f;
    word-break: break-all;
}
.link_tag {
	position: relative;
}
.tag_info button {
	display: inline-block;
    width: 18px;
    height: 18px;
	margin: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	text-align: center;
	outline:none;
	border:0;
}
/* tag wrap */