@charset "EUC-KR";
@media screen and (max-width : 767px) {

.find_password_form {
	width:80%;
	margin:auto;
	border: 0px;
	    margin-top: 50px;
    margin-bottom: 50px;
}

.find_password_form_type1 {
    width: 100%;
}
	
.find_password_form_type1 img{
	display: none;
}	

.find_password_form_type1-1 {
    width: 100%;
    margin: auto;
    text-align: center;
    float: none;
}

.find_password_form_type2 {
    width: 100%;
}

.find_password_form_type2-1 {
width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    float: none;
 }

.find_password_form_type2-1 input {
    width: 180px;
}

.find_password_form_type2-2 {
    width: 100%;
    float: none; 
    margin-left: 0px; 
        overflow: hidden;
}

.find_password_form_type2-2 h5 {
    font-size: 15px;

}


}