@charset "EUC-KR";

.footer-area {
	padding-top: 50px;
}

.footer-content {
	margin: auto;
	width: 60%;
	margin-bottom: 40px;
	overflow: hidden;
}

.triforyInfo-container {
    width: 40%;
    float: left;
}


.triforyInfo-container h1 {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Pacifico';
}

.triforyInfo-container h5 {
    color: #cecccc;
    margin-top: 20px;
    font-size: 15px;
}


.triforyInfo-picture {
    float: right;
    width: 40%;
    padding-top: 70px;
}

.triforyInfo-picture img {
    height: auto;
    padding-left: 10px;
    float: right;
    width: 10%;
}

.footer-bottom{
	
    background-color: #5454544d;
    height: 30px;
}