@charset "EUC-KR";

.footer-area {
	padding-top: 50px;
}

.footer-content {
	margin: auto;
	width: 56%;
	margin-bottom: 40px;
	overflow: hidden;
}

.triforyInfo-container {
	width: 20%;
	float: left;
}

.triforyInfo-container h5 {
	color: #c1c1c1;
	font-size: 17px;
}

img {
	height: auto;
	max-width: 4%;
	float: right;
	padding-left: 10px;
	padding-top: 20px;
}

.footer-bottom{
	
    background-color: #5454544d;
    height: 30px;
}