@charset "UTF-8";

/* -------------------회원가입----------------------- */
.join-form {
    width: 500px;
    margin: 70px auto;
}

.join-form-h2 {
    margin-bottom: 40px;
    border-bottom: 1px solid #1abca5 ; 
    padding-bottom: 20px;
}

.join-form-h2 h1 {
    font-size: 30px;
    color: #1abca5 ;
    font-weight: bold;
    display: block;
    text-align: center;	
}

.join-form h2 {
    text-align: center;
    font-size: 30px;
    font-weight:bold;
    border-bottom: solid 1px;
    padding: 15px;
	margin-bottom:40px;
    color: #1abca5;
    
}

.join-form div {
	overflow: hidden;
}

.join-form h3 {
	margin-bottom:12px;
    font-size: 18px;
    font-weight: 700;
    color: #888;
  
}

.join-form span {
	margin-bottom:20px; 
    display: block;
    width: 100%;
    padding: 10px;
    height: 50px;
    border: 1px solid #dadada;
    box-sizing: border-box;
    border-radius: 6px;
}

.join-form span input {
    height: 25px;
    width: 100%;
    border: none;
    font-size: 14px;
    color: #999;
    background: none;

}

.join-form div:nth-child(1) span {
    float: left;
}

.join-form span.mail {
    width: 50%;
}

.join-form span.text {
    width: 25px;
    padding: 10px 5px;
    border: none;
    background: none;
    color: #999;
}
.join-form span.mailAddr {
    width: calc(50% - 25px);
}

.join-form span select{
    width: 100%;
    height: 27px;
    border: none;
    background: #f9f9f9;
}

.join-form span.tel1 {
    width: 90px;
    float: left;
}
.join-form span.tel2 {
	
}
.join-form span.tel3 {
	
}
.join-form span.text {
    width: 25px;
    float: left;
    padding: 10px 5px;
    border: none;
    background: none;
    color: #999;
}
.join-form span.telT {
    width: 17px;
}
.join-form span.tel {
    width: calc((100% - 124px) / 2);
    float: left;   
}

.join-buttons {
	margin-top: 30px;
	text-align: center;
}

.join-buttons button {
    padding: 10px 15px;
    border: 1px solid #1abca5;
    background: #fff;
    color: #1abca5;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

.join-buttons .back {
	
}

.join-buttons .jbutton {
    background: #1abca5;
    color: #fff;
}


/* 중복체크 */
.email{
	display:inline-block;
	margin-right: 5px;
}

.duplBtn_label {
	padding: 2px 6px;
	border: 1px solid #ddd;
	border-radius: 2px;
	font-size: 13px;
	background: #dadada;
	font-weight:bold; 
	color:#555;
	line-height: 20px;
	box-shadow: rgba(0, 0, 0, 0.2)
}


#duplBtn {
	display:none;
}


@media only screen and (max-width: 767px) {
	
	.join-form {
   		 width: 100%;
   		 padding:0 15px; 
   		 margin-top:50px;
	}
	
	
}