@charset "UTF-8";

/* -------------------회원가입----------------------- */
.join-form {
    width: 500px;
    margin: 100px auto;
}

.join-form h2 {
    text-align: center;
    font-size: 35px;
    border-bottom: solid 1px;
    padding-bottom: 15px;
    margin-top: 0px;
    color: #84B1ED;
    
}

.join-form div {
	overflow: hidden;
}

.join-form h3 {
	margin: 19px 0 0 ;
    font-size: 18px;
    font-weight: 700;
    color: #888;
}

.join-form span {
	margin: 19px 0 8px;
    display: block;
    width: 100%;
    padding: 10px;
    height: 50px;
    border: 1px solid #dadada;
    background: #fbfbfb;
    box-sizing: border-box;
    border-radius: 6px;
}

.join-form span input {
    height: 25px;
    width: 100%;
    border: none;
    font-size: 14px;
    color: #999;
    background: none;
}

.join-form div:nth-child(1) span {
    float: left;
}

.join-form span.mail {
    width: 50%;
}

.join-form span.text {
    width: 25px;
    padding: 10px 5px;
    border: none;
    background: none;
    color: #999;
}
.join-form span.mailAddr {
    width: calc(50% - 25px);
}

.join-form span select{
    width: 100%;
    height: 27px;
    border: none;
    background: #f9f9f9;
}

.join-form span.tel1 {
    width: 90px;
    float: left;
}
.join-form span.tel2 {
	
}
.join-form span.tel3 {
	
}
.join-form span.text {
    width: 25px;
    float: left;
    padding: 10px 5px;
    border: none;
    background: none;
    color: #999;
}
.join-form span.telT {
    width: 17px;
}
.join-form span.tel {
    width: calc((100% - 124px) / 2);
    float: left;   
}

.join-buttons {
	margin-top: 30px;
	text-align: center;
}

.join-buttons button {
    padding: 10px 15px;
    border: 1px solid #84B1ED;
    background: #fff;
    color: #84B1ED;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

.join-buttons .back {
	
}

.join-buttons .jbutton {
    background: #84B1ED;
    color: #fff;
}