@charset "UTF-8";
/* -------------------로그인----------------------- */
.login-form {
    width: 500px;
    margin: 80px auto 100px;	
}

.login-form-h2 {
    margin-bottom: 20px;
    border-bottom: 1px solid #84B1ED ; 
    padding-bottom: 20px;
}

.login-form-h2 h1 {
	
}

.login-form-h2 h1{
    font-size: 30px;
    color: #84B1ED ;
    font-weight: bold;
    display: block;
    text-align: center;	
}

.login-form-input {
	
}

.login-form-input span {
    display: block;
    width: 100%;
    margin-bottom:20px;
    font-size: 16px;
    font-weight: 700;
    color : #84B1ED ;	
}

.login-form-input h3 {
    display: block;
    width: 100%;
    margin-bottom:12px;
    font-size: 18px;
    font-weight: 700;
    color : #84B1ED ;	
}

.login-form-input span:nth-child(1) {
	
}

.login-form-input span:nth-child(2) {
	display: block;
    width: 100%;
    padding: 10px;
    height: 50px;
    border: 1px solid #84B1ED ;
    box-sizing: border-box;
    border-radius: 6px;	
}

.login-form-input span input {
	border: none;
    width: 100%;
    height: 28px;
    line-height: 28px;
}

.buttons {
    overflow: hidden;
    margin-top: 30px;
}

.buttons input {
    padding: 10px 15px;
    border: 1px solid #84B1ED ;
    background: #fff;
    color: #84B1ED ;
    width: 100%;
    float: left;
    height: 50px;
    font-size: 16px;
    font-weight: bold;	
    cursor: pointer;
}

.buttons .login-btn {
    background: #84B1ED ;
    color: #fff;
    border-radius:  6px;
    
}

#emailSave{
	width:15px;
	display: inline-block;
	margin-right:5px;
}

.buttons p {
	display: inline-block;
	height:50px;	
	line-height: 50px;

}

.check_box {}

.buttons .find{
	float:right;
}

.buttons a {
	cursor : pointer;	
}

.find p {
	margin-left: 10px;
}

.login-api-button {	
	width:100%; 
	padding: 13px 6px 6px 13px; 
	height:50px;
	border-radius: 6px;
	background-size: 18px 18px;
   	font-size:16px;	
   	display:block; 
   	font-weight: bold; 
   	text-align: center;
   	margin-bottom:10px;
}

#naver_id_button {
	background:#1EC800 url(https://wedityourself.cdn3.cafe24.com/layout/login/naver.png) no-repeat 15px 14px;
    background-size: 18px 18px;
   	color: #FFF;
   	cursor: pointer;
   	
}

#google_api_button {
	background:#1EC800 url(https://wedityourself.cdn3.cafe24.com/layout/login/google.png) no-repeat 15px 14px;
    background-size: 18px 18px;
	background-color:#e05340;
	color: #FFF;
   	cursor: pointer;
}

#facebook_api_button {
	background:#1EC800 url(https://wedityourself.cdn3.cafe24.com/layout/login/facebook.png) no-repeat 15px 14px;
    background-size: 18px 18px;
	background-color:#4263a2;
	color: #FFF;
   	cursor: pointer;
}

#kakao_id_button{
	background:#FFDE00 url(https://wedityourself.cdn3.cafe24.com/layout/login/kakao.png) no-repeat 15px 15px;
    background-size: 20px 20px;
   	color: #000;
   	
	
}

.login-api-btn a, .login-api-btn a:hover ,.login-api-btn a:focus {
	font-size:16px !important; 
	font-weight:bold !important; 
}

#kakao-login-btn {
	display:none;
}

#naver_id_login{
	display:none;
}



@media only screen and (max-width: 767px) {
	
	.login-form {
   		 width: 100%;
   		 padding:0 15px; 
	}
	
	.buttons input {
		width: 100%; 
	}
	
}


