@charset "UTF-8";



.diary-post div.post-content {
	text-align: center;
	top: calc(50% - 65px);
	max-height: 150px;
	height: 150px;
}

.diary-post .post-content a {
	display: inline-block !important;
}

.diary-post .post-content .post-title {
	color: white;
	font-size: 30px;
}

.diary-post .post-content .post-date {
	color: white;
	font-size: 18px;
}


/* 메인 슬라이더  */


	
	.hero-blog-post .main-slide-text-box{
		width:35%; 
		height:100%; 
		float:right; 
		padding-left:60px;
		background: rgba(255,255,255,0.85); 
	}
	
	.hero-blog-post .post-content img {
		width: 85%;
		margin-bottom: 40px;
	}
	
	.hero-blog-post .post-content .post-meta p {
		font-size: 30px; 
		font-weight: bold; 
		color: #222; 
		margin-bottom:0; 
	}
	
	.hero-blog-post .post-content .login-btn {
		display:inline-block; 
		border:1px solid #000; 
		padding:10px 20px; 
		font-size:20px;
	}
	
	.hero-blog-post .post-content .login-btn i {
		margin-left: 10px;
	}






/* 인기 게시글 */

.main-btn  {
	
	width:50px; 
	height:67px;
	position: absolute; 
	z-index: 1000;
	
}

.main-btn:hover {
	cursor: pointer;
}

.pre{
	
	top: 20%;
	left:0;
	
}

.next {
	top: 20%;
	right:0;
}

.favorite-diary {
	margin-bottom: 120px; 
}

.main-content {
	position:relative;
}




#main-img {
	width: 55%; 
	padding-bottom:35%;
	float: left;
	box-shadow: -15px 16px 30px 5px rgba(0,0,0, 0.1);
	overflow: hidden;
	position: relative;
}

#main-img img{
	position: absolute;
	top: 0;
	left: 0; 
	right: 0; 
	bottom: 0; 
	max-width: 100%; 
	height: 100%;
}

#main-text {
	width:43%; 
	float:right;
	margin-top: 30px;
}

.main-thumb-box{
	z-index: 100px;
	float: right;
	position:absolute;
	bottom: 40px;
	right:0; 
	width:68%;
}

.main-thumb {
	border: 5px solid #eee; 
	width:23.5%; 
	padding-bottom:13%;
	overflow: hidden;
	float:left;
	margin-right:2%; 
	position:relative;
}

.main-thumb img{
	position: absolute;
	top: 0;
	left: 0; 
	right: 0; 
	bottom: 0; 
	max-width: 100%; 
/* 	height: 100%; */
}





.main-detail {
	padding:15px 15px 10px; 
	box-sizing: border-box;
}


.main-detail .travel-period {
	color: #aaa; 	
	font-size:16px;
}

.main-detail .travel-point {
	color: #aaa; 	
	font-size:16px;
}

.main-detail h2 {
	font-size: 36px; 
	margin-bottom:5px;
	line-height:80px;
	font-weight: bold;
}

.main-thumb:last-child {
	margin-right:0; 
}
.main-detail .tag {
	font-size:14px;
	padding : 5px 10px; 
	border:1px solid #ed3974;
	color: #ed3974; 
	margin-right: 3px; 
	margin-bottom: 10px;
	border-radius: 20px;
	display: inline-block;
}

.main-detail .tag:last-child {
	margin-right:0; 
}

.main-profile {
	border-top : 1px solid #ddd; 
	padding:10px 15px; 
	box-sizing: border-box;
	font-size:16px;
}

.main-profile .profile_thumb {
   width: 40px;
   height: 40px;
   display: inline-block;
   position: relative;
   vertical-align: top;
   border-radius: 50%;
}

.travel-like {
	display: inline-block;	
}


.main-profile .travel-like img {
	
	width:30px; 
	height: 30px;
	margin-right:5px;
}

img.thumb_default {
   display: inline-block;
   width: 100%;
   height: auto;
   border-radius: 50%;
   vertical-align: top;
}

.main-profile .profile_thumb_mask {
   width: 100%;
   height: 100%;
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 5;
   opacity: 0.12;
   filter: alpha(opacity = 12);
   box-sizing: border-box;
   border-radius: 50%;
   border: 1px solid #000;
}

.main-profile .profile_name {
   display: inline-block;
   font-size: 16px;
   font-weight: bold;
   color: #000;
   margin-top:7px;
   margin-left: 2px;
}

.main-profile .like-count {
	color: #000;
	font-size:16px;
	margin-top: 7px; 
	font-weight: bold;
	display: inline-block;
	
}




/* category-title */
.main-category {
	margin: 40px 0 40px;
}


.main-category hr {
    display: inline-block;
    width: 40px;
    color: #ed3974;
    border-top:2px solid #ed3974;
    margin-right: 10px;
    margin: 0 10px 0 0;
    padding-bottom: 7px;
	
}

.main-category h5 {
	display: inline-block;
	font-weight:bold;
	font-size:26px;
}

.main-category h5 span {
	color:#ed3974;
}

/* 인기태그 */

.favorite-tags {
	margin-bottom: 120px; 
}

.tags-container {
}

.tag-box01{
	width: 76%;
	heigth: 300px; 
	float:left;
}

.tag-box02{
	width: 24%;
	height:455px;
	background: #eee;
	float:left;
	position:relative;
}

.tag-box02 .img{
	position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
}

.tag-top {
	margin-bottom: 15px;
}


.tag-top:after {
	clear:both; 
	content:"";	
}

.blur {
	position: relative;
    height: 100%;
    background-color: #1a1a1a;
    opacity: 0.25;
    z-index: 1;
}


.tags h2 , .tag-box02 h2 {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
	font-size: 36px; 
    color:#fff; 
    font-size:bold; 
    text-align: center;
    font-weight:bold; 
}

.tags h2 {
	line-height: 220px;
}

.tag-box02 h2 {
	line-height: 455px; 
}

.tags{
	margin-right : 15px;
	margin-bottom: 15px;
	width: calc(67% - 15px);
	background: #eee;
	height: 220px;
	float:left;
	overflow: hidden;
	position: relative;
	
}

.tags .img {
	position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.tag2, .tag3{
	width: calc(33% - 15px); 
}

.tag3 , .tag4 {
	margin-bottom:0;
}

/* 전체 게시글 폼  */

.all-diary {
	margin-bottom: 100px; 
}

#background-img01 {
	position: absolute;
	width:45%; 
	padding-bottom:25%;
    top: 180px;
    z-index: -50;
    background-color:#eee;
   
/*  	background: rgba(0,0,0,0.1); */
}

#bg-img {
	position:absolute;
	width:100%; 
	height:100%; 
    opacity: 0.4;
    background-image: url(../img/main/main-img.jpg);
    background-position:center center;
    background-size: 150%;
   
/*  	background: rgba(0,0,0,0.1); */
}


#background-img02 {
	position: absolute;
	width:100%; 
	padding-bottom: 400px; 
    bottom: 0;
    opacity: 50;
    z-index: -50;
    background-image: url(../img/main/background-01.jpg);
    
/*     background: #eee; */
}

.diary-box {
	width: 30%; 
	height: auto; 
	background: #fff; 	
	float:left; 
	margin-right:5%; 
	z-index: 100;
}

.diary-box:last-child {
	margin-right:0; 
}

.diary-box .img-box{
	width:100%; 
	padding-bottom:60%;
	background: black;
	overflow: hidden;
	position: relative;
	
	
}

.diary-box .img-box img{
	position: absolute;
	top:0; 
	left:0;
	width:100%; 
	height:100%; 
	 
}

.diary-box .text-box{
	box-sizing: border-box; 
}

.travel-detail {
	padding:15px 15px 10px; 
	box-sizing: border-box;
}


.travel-detail .travel-period {
	color: #aaa; 	
	font-size:12px;
}


.travel-detail h2 {
	font-size: 20px; 
	margin-bottom:5px;
	line-height:40px;
	font-weight: bold;
}


.travel-detail .tag {
	font-size:12px;
	padding : 2px 4px; 
	border:1px solid #ed3974;
	color: #ed3974; 
	margin-right: 3px; 
	border-radius: 12px;
	display: inline-block;
	margin-bottom:5px;
}

.travel-detail .tag:last-child {
	margin-right:0; 
	margin-bottom:0;
}

.travle-profile {
	border-top : 1px solid #aaa; 
	padding:10px 15px; 
	box-sizing: border-box;
}

.profile_thumb {
   width: 30px;
   height: 30px;
   display: inline-block;
   position: relative;
   vertical-align: top;
   border-radius: 50%;
}

img.thumb_default {
   display: inline-block;
   width: 100%;
   height: auto;
   border-radius: 50%;
   vertical-align: top;
}

.profile_thumb_mask {
   width: 100%;
   height: 100%;
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 5;
   opacity: 0.12;
   filter: alpha(opacity = 12);
   box-sizing: border-box;
   border-radius: 50%;
   border: 1px solid #000;
}

.profile_name {
   display: inline-block;
   font-size: 14px;
   font-weight: bold;
   color: #000;
   margin-top:2px;
   margin-left: 2px;
}

.travel-like{
	float:right; 
	font-size: 14px; 
}

.travel-like img {
	width: 20px;
	height: 20px;
}

.all-diary-view {
}

.mag-posts-area {
	padding:0;
}

.mag-posts-content {
	background-color: rgba( 255, 255, 255, 0 ) ;
}




@media only screen and (min-width: 1350px) and (max-width: 1800px) {
	
	
	#main-text {
		margin-top: 10px;
	
	}
	.main-detail {
		padding:10px; 
		box-sizing: border-box;
	}
	
	
	.main-detail .travel-period {
		color: #aaa; 	
		font-size:14px;
	}
	
	.main-detail .travel-point {
		color: #aaa; 	
		font-size:13px;
		float:right;
	}
	
	.main-detail h2 {
		font-size: 30px; 
		margin-bottom:5px;
		line-height:50px;
		font-weight: bold;
	}
	
	.main-detail .tag {
	    font-size: 13px;
	    padding: 4px 8px;
	    margin-right: 3px;
	    margin-bottom: 5px;
	    border-radius: 20px;
	    display: inline-block;
	}
	
	.main-thumb-box{
		bottom: 25px;
		width: 65%;
	}
	
}

@media only screen and (min-width: 992px) and (max-width: 1349px) {
	/* 메인 슬라이더 */
	.hero-blog-post .main-slide-text-box {
		width: 40%;
		padding-left: 4 0px;
		background: rgba(255, 255, 255, 0.85);
	}
	.hero-blog-post .post-content img {
		width: 85%;
		margin-bottom: 40px;
	}
	.hero-blog-post .post-content .post-meta p {
		font-size: 26px;
		font-weight: bold;
		color: #222;
		margin-bottom: 0;
	}
	.hero-blog-post .post-content .login-btn {
		display: inline-block;
		border: 1px solid #000;
		padding: 10px 20px;
		font-size: 20px;
	}
	.hero-blog-post .post-content .login-btn i {
		margin-left: 10px;
	}
	
	
	#main-text {
		margin-top: 0;
	
	}
	.main-detail {
		padding:15px 15px 10px; 
		box-sizing: border-box;
	}
	
	
	.main-detail .travel-period {
		color: #aaa; 	
		font-size:14px;
	}
	
	.main-detail .travel-point {
		color: #aaa; 	
		font-size:13px;
	}
	
	.main-detail h2 {
		font-size: 28px; 
		margin-bottom:5px;
		line-height:45px;
		font-weight: bold;
	}
	
	.main-detail .tag {
	    font-size: 13px;
	    padding: 3px 7px;
	    margin-right: 3px;
	    margin-bottom: 15px;
	    border-radius: 20px;
	    display: inline-block;
	}
	
	.main-profile .profile_thumb {
		width:35px;
		height:35px;
		margin-top:2px;
	}
	
	.main-thumb-box{
		
		bottom: 20px;
		width: 65%;
	}
	   
   
   #background-img01 {
      width: 47%;
      padding-bottom: 28%;
      
   }
   
   #bg-img {
      background-size: 180%;
   }
   
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	/* 메인 슬라이더 */
	
	.hero-blog-post .main-slide-text-box {
		width: 45%;
		padding-left: 40px;
		background: rgba(255, 255, 255, 0.85);
	}
	.hero-blog-post .post-content img {
		width: 85%;
		margin-bottom: 40px;
	}
	.hero-blog-post .post-content .post-meta p {
		font-size: 22px;
		font-weight: bold;
		color: #222;
		margin-bottom: 0;
	}
	.hero-blog-post .post-content .login-btn {
		display: inline-block;
		border: 1px solid #000;
		padding: 10px 20px;
		font-size: 20px;
	}
	.hero-blog-post .post-content .login-btn i {
		margin-left: 10px;
	}
	
	
	#main-img {
		width:46%;
	}
	
	#main-text {
		width:52%;	
		margin-top: 0;
	
	}
	
	
	.main-detail {
		padding:5px; 
		box-sizing: border-box;
	}
	
	
	.main-detail .travel-period {
		color: #aaa; 	
		font-size:12px;
	}
	
	.main-detail .travel-point {
		color: #aaa; 	
		font-size:12px;
	}
	
	.main-detail h2 {
		font-size: 26px; 
		margin-bottom:5px;
		line-height:40px;
		font-weight: bold;
	}
	
	.main-detail .tag {
	    font-size: 12px;
	    padding: 2px 5px;
	    margin-right: 3px;
	    margin-bottom: 10px;
	    border-radius: 20px;
	    display: inline-block;
	}
	
	.main-profile{
		padding:5px;
	}
	
	.main-profile .profile_thumb {
		width:30px;
		height:30px;
		margin-top:2px;
	}
	
	.main-profile .profile_name {
		font-size:14px;
	}
	
	.main-profile .like-count {
		font-size:14px;
	}
	
	.main-profile .travel-like img {
		width:25px; 
		height: 25px;
	}
	
	.main-thumb-box{
		
		bottom: 15px;
		width: 65%;
	}
	
	.main-category {
         margin: 40px 0 20px;
   }
   
   
   #background-img01 {
      width: 40%;
      padding-bottom: 30%;
      
   }
   
   #bg-img {
      background-size: 180%;
   }
   
}

@media only screen and (max-width: 767px) {
	
	
	/* 메인슬라이더 */
	
	.hero-blog-post .main-slide-text-box {
		width: 60%;
		background: rgba(255, 255, 255, 0.75);
		padding-left: 30px;
	}
	
	.hero-blog-post .post-content img {
		width: 100%;
		margin-bottom: 20px;
	}
	
	.hero-blog-post .post-content .post-meta p {
		font-size: 18px;
		font-weight: bold;
		color: #222;
		margin-bottom: 0;
		display:none;
	}
	
	.hero-blog-post .post-content .login-btn {
		display: inline-block;
		border: 1px solid #000;
		padding: 10px 20px;
		font-size: 16px;
	}
	
	.hero-blog-post .post-content .login-btn i {
		margin-left: 10px;
	}
	
	
	.main-content {
		width:100%; 
		margin-top:150px; 
		box-shadow: -15px 16px 60px 5px rgba(0,0,0, 0.1);
	}
	
	.main-content #main-img{
		width:100%; 
		padding-bottom:60%;	
		box-shadow: 0;
		box-shadow: -15px 16px 60px 5px rgba(0,0,0, 0);
	}
	
	.main-content #main-img img{
		width:100%; 
		height:auto; 
	}
	
	#main-text {
		margin-top: 20px;
		width:100%;
		position: relative;
	
	}
	
	.main-detail {
		margin-top: 0px;
		padding:20px 20px 10px; 
		box-sizing: border-box;
	}
	
	
	.main-detail .travel-period {
		color: #aaa; 	
		font-size:16px;
	}
	
	.main-detail .travel-point {
		color: #aaa; 	
		font-size:16px;
		float:right;
	}
	
	.main-detail h2 {
		font-size: 30px; 
		margin-bottom:5px;
		line-height:65px;
		font-weight: bold;
	}
	
	.mb-70 {
		margin-bottom:0 !important;
	}
	
	.main-thumb:last-child {
		margin-right:0; 
	}
	
	.main-detail .tag {
		font-size:14px;
		padding : 5px 10px; 
		border:1px solid #ed3974;
		color: #ed3974; 
		margin-right: 3px; 
		margin-bottom: 15px;
		border-radius: 20px;
		display: inline-block;
	}
	
	.main-thumb-box{
		top: -60px;
		width: 96%;
		position: absolute;
		margin: 0 2%;
		display:none;
		;
		 
	}
	
	
	.main-profile {
		padding: 20px;
	}
	
	
	/* 인기태그  */
	
	.tag4 , .tag2 {
		margin-right:0;
	}
	
	.tag2, .tag3 {
		width: 33%;
	}
	
	.tag-box01 {
		width:100%;
		margin-bottom:15px;
	}
	
	.tag-box02 {
		width:100%; 
		height: 220px;
	}
	
	.tag-box02 h2 {
		line-height: 220px; 
	}
	
	/* 전체 게시글 */
	
	.diary-box {
		width:100%; 
		margin-bottom: 40px;
		margin-right: 0;
		border: 1px solid #ddd;
		 
	}
		
	.travel-detail .travel-period {
		color: #aaa; 	
		font-size:15px;
	}
	
	.travel-detail {
		padding: 15px 20px 10px
	}


	.travel-detail h2 {
		font-size: 26px; 
		margin-bottom:5px;
		line-height:50px;
		font-weight: bold;
	}
	
	
	.travel-detail .tag {
		font-size:14px;
		padding : 2px 4px; 
		border:1px solid #ed3974;
		color: #ed3974; 
		margin-right: 3px; 
		border-radius: 20px;
		display: inline-block;
		margin-bottom:8px;
	}
	
	.travel-detail .tag:last-child {
		margin-right:0; 
		margin-bottom:0;
	}
	
	.travle-profile {
		border-top : 1px solid #ddd; 
		padding:15px 20px; 
		box-sizing: border-box;
	}
	
	.profile_thumb {
	   width: 40px;
	   height: 40px;
	   display: inline-block;
	   position: relative;
	   vertical-align: top;
	   border-radius: 50%;
	}
	
	img.thumb_default {
	   display: inline-block;
	   width: 100%;
	   height: auto;
	   border-radius: 50%;
	   vertical-align: top;
	}
	
	.profile_thumb_mask {
	   width: 100%;
	   height: 100%;
	   display: block;
	   position: absolute;
	   top: 0;
	   left: 0;
	   z-index: 5;
	   opacity: 0.12;
	   filter: alpha(opacity = 12);
	   box-sizing: border-box;
	   border-radius: 50%;
	   border: 1px solid #000;
	}
	
	.profile_name {
	   display: inline-block;
	   font-size: 16px;
	   font-weight: bold;
	   color: #000;
	   margin-top:8px;
	   margin-left: 4px;
	}
	
	.travel-like{
		float:right; 
		font-size: 16px; 
/* 		margin-top:3px; */
	}
	
	
	.travel-like span {
		display: inline-block;
		margin-top: 7px; 
		font-weight: bold;
	}
	
	.travel-like img{
		width:30px; 
		height: 30px;
	}
	
	
	.pre{
		top: 10%;
	}

	.next {
		top: 10%;
	}
	
	
		
	#background-img01 {
		position: absolute;
		width:100%; 
		padding-bottom:55%;
	    top: 150px;
	    z-index: -50;
	    background-color:#eee;
	   
	/*  	background: rgba(0,0,0,0.1); */
	}
	
	#bg-img {
		position:absolute;
		width:100%; 
		height:100%; 
	    opacity: 0.4;
	    background-image: url(../img/main/main-img.jpg);
	    background-position:center center;
	    background-size: 190%;
	   
	/*  	background: rgba(0,0,0,0.1); */
	}
	
	
	#background-img02 {
		position: absolute;
		width:100%; 
		padding-bottom:75%;
	    bottom: 0;
	    opacity: 50;
	    z-index: -50;
	    background-image: url(../img/main/background-01.jpg);
	    
	/*     background: #eee; */
	}
	
	
	
		
}



