<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:component-scan
		base-package="kr.co.mlec" />

	<!-- ajax 한글 -->
	<mvc:annotation-driven>
		<!-- messageConvertert -->
		<mvc:message-converters>
			<bean
				class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html; charset=UTF-8</value>
					</list>
				</property>
			</bean>
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName"
			value="oracle.jdbc.driver.OracleDriver" />
		<property name="url"
			value="jdbc:oracle:thin:@192.168.0.47:1521:xe" />
			<!-- value="jdbc:oracle:thin:@127.0.0.1:1521:orcl" /> -->
		<property name="username" value="hr" />
		<property name="password" value="hr" />
	</bean>

	<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation"
			value="classpath:config/mybatis/sqlMapConfig.xml" />
		<property name="mapperLocations"
			value="classpath:config/sqlmap/oracle/*.xml" />
	</bean>

	<bean id="sqlSessionTemplate"
		class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"></constructor-arg>
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10485760" />
	</bean>
	<bean id="uploadPath" class="java.lang.String" name="uploadPath">
		<constructor-arg
			value="/Users/choi/lecture/apache-tomcat-8.0.53/webapps/upload/"></constructor-arg>
	</bean>
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="goochangdev@gmail.com" />
		<property name="password" value="lsy981007~" />

	<!-- email 요청시는 SMTP -->
		<property name="javaMailProperties">
			<props>
				<prop key="mail.transport.protocol">smtp</prop>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.debug">true</prop>
			</props>
		</property>
	</bean>
	<bean id="facebookConnectionFactory"
        class="org.springframework.social.facebook.connect.FacebookConnectionFactory">
        <constructor-arg value="2295481060483016" />
        <constructor-arg value="cc6e1257aa7400c5d6ad0120517a47cc" />
    </bean>
 
    <bean id="facebookOAuth2Parameters" name="facebook"
        class="org.springframework.social.oauth2.OAuth2Parameters">
        <property name="scope" value="email" />
        <property name="redirectUri" value="http://localhost:8888/Travel-Diary/fbLogin" />
    </bean>
    
    <bean id="googleConnectionFactory"
    	class="org.springframework.social.google.connect.GoogleConnectionFactory">
		<constructor-arg value="813262121526-vkh46bbob0be5rc4885fdv0nbp5nr2us.apps.googleusercontent.com"/>
		<constructor-arg value="VJrPZcLZYE1mJUstBRjhtcCR"/>    
	</bean>
		 
	<bean id="googleOAuth2Parameters" name="google"
		class="org.springframework.social.oauth2.OAuth2Parameters">
		<!-- <property name="scope" value="https://www.googleapis.com/auth/plus.login"></property> -->
		<property name="scope" value="https://www.googleapis.com/auth/userinfo.email"></property>
		<property name="redirectUri" value="http://localhost:8888/Travel-Diary/googleLogin"/>
	</bean>
    

	<mvc:default-servlet-handler />
	<mvc:view-resolvers>
		<mvc:jsp prefix="/jsp/" suffix=".jsp" />
	</mvc:view-resolvers>
	
	<bean id="LoginInterceptor"
		class="kr.co.mlec.interceptor.LoginInterceptor" />
	
	<bean id="AdminInterceptor"
		class="kr.co.mlec.interceptor.AdminInterceptor" />
		
	<bean id="EmailInterceptor"
		class="kr.co.mlec.interceptor.EmailInterceptor" />
		
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/admin/**" />
			<ref bean="AdminInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/mypage" />
			<mvc:mapping path="/diary/writeForm" />
			<mvc:mapping path="/diary/myMap" />
			<mvc:exclude-mapping path="/assets/**" />
			<mvc:exclude-mapping path="/fontawesome/**" />
			<ref bean="LoginInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/emailConfirm" />
			<mvc:exclude-mapping path="/resendEmail" />
			<mvc:exclude-mapping path="/mypage" />
			<mvc:exclude-mapping path="/logout" />
			<mvc:exclude-mapping path="/assets/**" />
			<mvc:exclude-mapping path="/fontawesome/**" />
			<ref bean="EmailInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

</beans>